<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.58.0.0" targetFramework="Native" />
  <package id="boost_atomic" version="1.58.0.0" targetFramework="Native" />
  <package id="boost_chrono" version="1.58.0.0" targetFramework="Native" />
  <package id="boost_date_time" version="1.58.0.0" targetFramework="Native" />
  <package id="boost_filesystem" version="1.58.0.0" targetFramework="Native" />
  <package id="boost_log" version="1.58.0.0" targetFramework="Native" />
  <package id="boost_system" version="1.58.0.0" targetFramework="Native" />
  <package id="boost_thread" version="1.58.0.0" targetFramework="Native" />
  <package id="pthreads" version="2.9.1.4" targetFramework="Native" />
  <package id="pthreads.redist" version="2.9.1.4" targetFramework="Native" />
  <package id="tbb" version="4.2.3.1" targetFramework="Native" />
  <package id="tbb.redist" version="4.2.3.1" targetFramework="Native" />
</packages>